n8n-workflows/cliniqboost_Dormant_Reactivation.json
{
  "name": "cliniqboost — Dormant Reactivation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * 1"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4a01-8a01-000000000001",
      "name": "Weekly (Mon 15:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-40, 300],
      "notes": "Weekly on purpose — /reactivate is NOT idempotent (it re-texts every currently-dormant client on each call). Do NOT lower to 15–60 min until the backend dedupes. See the accompanying note."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SERVER_URL }}/internal/active-clinics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "id": "a1b2c3d4-0002-4a01-8a01-000000000002",
      "name": "Get Active Clinics (backend, RLS-safe)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "cliniqboost Webhook Secret"
        }
      },
      "notes": "Routes through the backend (service-role, server-side) instead of querying Supabase directly, so it never needs an RLS-bypass key in n8n. Requires the small GET /internal/active-clinics endpoint (see note). Expects { clinics: [ { id }, ... ] }."
    },
    {
      "parameters": {
        "fieldToSplitOut": "clinics",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4a01-8a01-000000000003",
      "name": "Split Clinics",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [440, 300],
      "notes": "One item per active clinic."
    },
    {
      "parameters": {
        "jsCode": "/*\n * Normalize each active clinic into the exact shape POST /reactivate expects:\n *   { clinic_id }\n * (Mirrors the normalize steps in the other 3 workflows, but matches the real\n *  route: /reactivate reads ONLY clinic_id and does dormant-detection + sending\n *  server-side. It is a per-CLINIC call, never per-contact.)\n */\nconst out = [];\nfor (const entry of $input.all()) {\n  const c = entry.json || {};\n  const clinic_id = c.id || c.clinic_id || c.clinicId || null;\n  if (!clinic_id) continue;\n  out.push({ json: { clinic_id } });\n}\nreturn out;"
      },
      "id": "a1b2c3d4-0004-4a01-8a01-000000000004",
      "name": "Normalize → { clinic_id }",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SERVER_URL }}/webhook/twilio/reactivate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "clinic_id",
              "value": "={{ $json.clinic_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0005-4a01-8a01-000000000005",
      "name": "POST /reactivate (per clinic)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "cliniqboost Webhook Secret"
        }
      },
      "notes": "Auth via the Header Auth credential (x-cliniqboost-secret) — NOT hardcoded. One call per clinic; the backend fetches this clinic's dormant contacts and texts them."
    }
  ],
  "connections": {
    "Weekly (Mon 15:00)": {
      "main": [
        [
          {
            "node": "Get Active Clinics (backend, RLS-safe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Clinics (backend, RLS-safe)": {
      "main": [
        [
          {
            "node": "Split Clinics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Clinics": {
      "main": [
        [
          {
            "node": "Normalize → { clinic_id }",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize → { clinic_id }": {
      "main": [
        [
          {
            "node": "POST /reactivate (per clinic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "cliniqboost-dormant-reactivation"
  },
  "tags": [
    {
      "name": "cliniqboost"
    }
  ]
}
